PUERTO_ESCUCHA=8001
IP_PLACA=127.0.0.1
PUERTO_PLACA=8002
IP_STORAGE=127.0.0.1
PUERTO_STORAGE=8003
LOG_LEVEL=INFO
ALGORITMO_PLANIFICACION=FIFO
RR_QUANTUM=3
ESTIMACION_INICIAL=5000
HRRN_ALFA=0.5
GRADO_MULTIPROGRAMACION=4
PATH_DATOS=/home/utnso/datos
RETARDO_LOADER=100
PATH_REPORTES=/home/utnso/reportes
